#root-container
{
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color: aliceblue;
}
.pageContainer
{
    min-height: 1200px;
    min-width: 684px;
}
h1, h2
{
    font-size: 40px !important;
    padding-left: 50px;
    color: grey !important;
}
.previewHeading
{
    color: white !important;
    padding: 15px 0px 0px 0px;
}
.selectionHeading
{
    color: white !important;
    padding: 0px;
}
#top-navbar
{
    background-color: grey;
}
#left-nav-items
{
    padding-left: 50px;
    display: inline;
    float: left;
}

#right-nav-items
{
    display: inline;
    float: right !important;
    margin-right: 10px !important;
}

.account-icon-div
{
    text-align: center;
    background-color: white;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: 8px 15px 5px 5px;
}

.account-icon-img
{
    opacity: 50%;
    border-radius: 50%;
    margin-top: 5px;
    width: 60%;
    height: 67%;
}       

.left-icon-img
{
    border: 1px solid lightgray;
    margin-top: 6px;
    border-radius: 50%;
    height: 36px;
}

#search-item
{
    padding: 16px 0px 0px 15px;
}
#search-bar-1
{
    width: 250px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
}
.search-image, .search-image-2
{
    transform: rotate(7deg);
    margin: 0px 5px 2px 4px;
    width: 19px;
    height: 16px;
}

#search-field-1
{
    border-radius: 10px;
    width: 220px;
    border: none;
    height: 18px;
    /* hide border when search field is clicked */
    outline: none;
}

#search-bar-2
{
    text-align: left;
    width: 400px;
    height: 30px;
    border-radius: 20px;
    background-color: lightgrey;
}
.search-image-2
{
    opacity: 65%;
    width: 24px;
    height: 22px;
}
#search-field-2
{
    border-right: 1px solid white !important;
    background-color: lightgrey;  
    width: 340px;
    border: none;
    height: 30px;
    /* hide border when search field is clicked */
    outline: none;
}
.dropdownBtn
{
    margin-left: 2px;
    padding: 0px 0px 1px 6px;
    opacity: 50%;
    width: 17px;
    height: 7px;
}
#search-tags-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 600px;
    height: 60px;
}
.search-tags
{
    text-align: left;
    border: 2px solid lightgrey;
    border-radius: 15px;
    background-color: white;
    width: 140px;
    height: 40px;
}
.tag-names
{
    text-align: center;
    color: lightgrey;
    font-size: large;
    font-weight: bold;
    padding-top: 4px;
    width: 112px;
    height: 38px;
    border-right: 2px solid lightgrey;
}
.dropdowns
{
    padding: 0px 0px 1px 6px;
    margin: 15px 7px 0px 0px;
    float: right;
    opacity: 50%;
    width: 17px;
    height: 7px;
}
/* hide bullets */
li
{
    list-style: none;
}
#suggested-contents
{
    border: 1px solid rgb(212, 189, 147);
    border-radius: 20px;
    box-shadow: -2px 3px 8px rgb(209, 199, 185);
    margin: 10px 80px 10px 80px !important;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-items: center;
    height: 250px;
}
.suggestedContent
{
    margin: 10px 0px 0px 0px !important;
    padding: 0px !important;
    transition: transform .4s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height: 424px;
    width: 360px;
    transform: scale(0.56);   */
    height: 236px;
    width: 200px;  
    filter: blur(0);
}
.suggestedContent:hover{
    transform: scale(1.8); 
}
#Your-folders, #Your-files
{
    border: 1px solid rgb(212, 189, 147);
    border-radius: 20px;
    box-shadow: -2px 3px 8px rgb(209, 199, 185);
    margin: 20px 100px 0px 100px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 160px;
    
}
.folderCont, .filesCont
{
    margin: 0px 30px 0px 30px;
    border-radius: 20px;
    background-color: rgba(212, 189, 147, 0.3);
    height: 85%;
    width: 180px;
}

.folderCont
{
    transition: transform .4s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    box-shadow: 2px 3px 5px black;
}
.folderCont:hover{
    transform: scale(1.2);
}
.folder-icon
{
    border: 2px solid rgba(212, 189, 147, 0.3);
    box-shadow: 2px 3px 5px black;
    border-radius: 20px;
    opacity: 65%;
    width: 75%;
    height: 60%;
}

.folder-name, .slide-name
{
    text-align: center;
    font-weight: bold;
    width: 98%;
    height: 22%;
}
.slide-name
{
    padding-top: 9px;
    height: 18%;
    font-size: 20px;
    /* font-size: 35px; */
}
.the-pdf
{
    border: 1px solid black;
    box-shadow: 2px 3px 5px black;
    border-radius: 25px;
    width: 100%;
    height: 80.6%;
}
.searchResults
{
    /* background-color: white;
    border: 1px solid black;
    box-shadow: 1px 1px 3px black; */ 
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-content: center;
    justify-items: center;
    height: 400px;
    width: 660px;
}
.search-result, .collectionItem
{
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: rgba(128, 128, 128, 0.644);
    width: 158px;
    height: 180px;
}
.collectionItem
{
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
}
#theCollection
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: start;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.450);
    width: 870px;
    height: 210px;
    padding: 15px 0px 0px 10px;
}
.collectionName
{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-content: center;
    margin-top: 20px;
    height: 50px;
    width: 420px;
}
.leftarrow, .rightarrow
{
    color: grey;
    font-size: 39px;
    width: 45px;
    height: 90%;
}
.save-collection-btn
{
    background-color: gray;
    color: whitesmoke;
    border-radius: 15px !important;
    float: right;
    margin: 30px 240px 0px 0px;
    transition: transform .4s;
}
.save-collection
{
    font-weight: bold !important;
    background-color: lightskyblue;
    color: whitesmoke;
    border-radius: 10px !important;
    margin: 30px 0px 0px 0px;
    transition: transform .4s;
}
.save-collection-btn:hover, .save-collection:hover
{
    transform: scale(1.1);
}

.contentPreviewer
{
    width: 870px;
    height: 630px;
    background-color: rgba(0, 0, 0, 0.450);
    border-radius: 20px;
}
#previewDiv
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 550px;
}
.prevContainer
{
    width: 49.5%;
    height: 100%;
}
.pageView
{
    background-color: white;
    border-radius: 20px;
    width: 96%;
    height: 35%;
    margin-bottom: 10px;
}
#pages
{
    margin-bottom: 3px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: space-around;
    width: 100%;
    height: 56.5%;
}
.filePage
{
    background-color: white;
    border-radius: 15px;
    width: 127px;
    height: 90px;
}
#selectionContainer
{
    margin: 1px;
    height: 73.4%;
    border: 3px solid blanchedalmond;
}
#orderPreview
{
    border-radius: 25px;
    margin-top: 20px;
    background-color: white;
    width: 95%;
    height: 45%;
}
#pagesOrder
{
    width: 93.5%;
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 30%;
}
#advanced-filtering
{
    margin-left: 8px;
    float: left;
    width: 50%;
    font-size: large;
}
#filter-link
{
    color: black;
}
#select-all-box
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 48%;
    float: right;
}
#select-all
{
    width: 25px;
    height: 25px;
}
#select-all-label, #filter-link
{
    font-size: 20px;
    font-weight: 420;
}

